Format/cmd_format
Format/cmd_format.d

*.o
bin/os
bin/os_installer
repdisk/d0
bin/dump_file
bin/dump_inode
bin/dump_user
.vscode/*
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
app/app.iml
ProjetS4.iml