Format/cmd_format
Format/cmd_format.d

*.o
bin/os
bin/os_installer
repdisk/d0
bin/dump_file
bin/dump_inode
bin/dump_user
.vscode/*
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
app/app.iml
ProjetS4.iml
.idea/runConfigurations/MainForm.xml
out/production/ProjetS4/application/Block.class
out/production/ProjetS4/application/File.class
out/production/ProjetS4/application/Inode.class
out/production/ProjetS4/application/MainForm.class
out/production/ProjetS4/application/MainForm$1.class
out/production/ProjetS4/application/MainForm$2.class
out/production/ProjetS4/application/MainForm$3.class
out/production/ProjetS4/application/MainForm$4.class
out/production/ProjetS4/application/MainForm$5.class
out/production/ProjetS4/application/MainForm$6.class
out/production/ProjetS4/application/MainForm$7.class
out/production/ProjetS4/application/OsDefines.class
out/production/ProjetS4/application/SuperBlock.class
out/production/ProjetS4/application/User.class
out/production/ProjetS4/application/VirtualDisk.class
out/production/ProjetS4/com/intellij/uiDesigner/core/AbstractLayout.class
out/production/ProjetS4/com/intellij/uiDesigner/core/DimensionInfo.class
out/production/ProjetS4/com/intellij/uiDesigner/core/GridConstraints.class
out/production/ProjetS4/com/intellij/uiDesigner/core/GridLayoutManager.class
out/production/ProjetS4/com/intellij/uiDesigner/core/HorizontalInfo.class
out/production/ProjetS4/com/intellij/uiDesigner/core/LayoutState.class
out/production/ProjetS4/com/intellij/uiDesigner/core/Spacer.class
out/production/ProjetS4/com/intellij/uiDesigner/core/SupportCode.class
out/production/ProjetS4/com/intellij/uiDesigner/core/SupportCode$TextWithMnemonic.class
out/production/ProjetS4/com/intellij/uiDesigner/core/Util.class
out/production/ProjetS4/com/intellij/uiDesigner/core/VerticalInfo.class
